@{
    ViewData["Title"] = "Home Page";
}


@if ((int)ViewData["Start"] == 1){
<div class="container">
    <table class="table">
        <tr style="background:#081645; color:#eee;">
            <th class="head"><h3>Jam / Hari</h3></th>
            <td class="head"><h3>Senin</h3>  </td>
            <td class="head"><h3>Selasa</h3>  </td>
            <td class="head"><h3>Rabu</h3>  </td>
            <td class="head"><h3>Kamis</h3>  </td>
            <td class="head"><h3>Jumat</h3>  </td>
        </tr>
        @{ 
            for (int i = 7; i < 18; i++)
            {
                    <tr>
                    @for (int j = 0; j < 6; j++)
                    {
                        @if (j == 0)
                        {
                            if (i < 9)
                            {
                                <th><h3>@("0" + i.ToString() + ".00 " + "-" + "0" + (i + 1).ToString() + ".00")</h3></th>
                            }
                            else if (i == 9)
                            {
                                <th><h3>@("0" + i.ToString() + ".00 " + "-" + (i + 1).ToString() + ".00")</h3></th>
                            }
                            else
                            {
                                <th><h3>@(i.ToString() + ".00 " + "-" + (i + 1).ToString() + ".00")</h3></th>
                            }
                        }
                        else
                        {
                            <td>
                                <ul id=@(j.ToString() + i.ToString()) class="sortable-list">
                                    <li id=@ViewData["nama" + i.ToString() + j.ToString()]>
                                        @if ((int)ViewData["marker" + i.ToString() + j.ToString()] == 0)
                                        {
                                            <h3>
                                                @ViewData["nama" + i.ToString() + j.ToString()]<br />
                                                @ViewData["ruangan" + i.ToString() + j.ToString()]
                                            </h3>
                                        }
                                        else
                                        {
                                            <h2>
                                                @ViewData["nama" + i.ToString() + j.ToString()]<br />
                                                @ViewData["ruangan" + i.ToString() + j.ToString()]
                                            </h2>
                                        }
                                    </li>
                                    <li id="null" class="default"></li>
                                </ul>
                            </td>
                        }
                    }
                    </tr>
                }
            }
</table>
</div>
<h3 id="konflik">Jumlah konflik yang ada: @ViewData["Message"]</h3>
    int nRuangan = Convert.ToInt32(@ViewData["banyakruangan"]);
    for (int n = 0; n < nRuangan; n++)
    {
        <h3> Ruangan @ViewData["namaruangan"+n.ToString()] : @ViewData["efektifitas" + n.ToString()]</h3>
    }
<h3>Pilihan algoritma: @ViewData["Choice"]</h3>


}

<br />
<form method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
    <input type="file" name="files" />
    <input type="radio" id="choice1" name="choice" value="0" checked="checked"/>
    <label for="choice1"><span>Hill Climbing</span></label>
    <input type="radio" id="choice2" name="choice" value="1"  />
    <label for="choice2"><span>Simulated Annealing</span></label>
    <input type="radio" id="choice3" name="choice" value="2" />
    <label for="choice3"><span>Genetic Algorithm</span></label><br />
    <input type="submit" value="Upload" />
</form>
